{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
    ],
  "env": {
    "amd": true,
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
  },
  "globals": {
    "document": false
  }
}